{% section 'page-double-1' %}
{% section 'page-double-2' %}
{% section 'page-double-3' %}
{% section 'page-double-4' %}
{% section 'page-double-5' %}
{% section 'page-double-6' %}
{% section 'page-double-7' %}
{% section 'page-double-8' %}

<!-- /templates/page.liquid -->
<div class="wrapper page-margin">
  <div class="grid">
    <div class="grid__item large--two-thirds push--large--one-sixth">
      <h1 class="text-center h2">{{ page.title }}</h1>
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
